customtkinter==5.2.2
sv_ttk==2.5.5
google-generativeai==0.8.5
google-genai>=1.10.0
google-cloud-aiplatform>=1.50.0
google-auth>=2.20.0
EbookLib==0.17.1
beautifulsoup4==4.12.3
lxml==5.4.0
Pillow==11.2.1
requests==2.32.3
send2trash==2.1.0
packaging==24.2
pymupdf==1.25.3
